.subtitle{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subtitle span{
  padding: 10px;
  display: inline-block;
  position: relative;
}

.subtitle:before,
.subtitle:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.subtitle:after {
    margin: 0 0 0 20px;
}
