* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

p {
  color: #6E6E6E;
  font-size: 17px;
  margin: 0;
}

h2 {
  color: #404041;
}

header {
  background-color: #404041;
  display: flex;
  font-weight: 300;
  height: 125px;
  padding: 1.5% 2% 2.3% 2%;
  text-align: center;
}

.heading {
  align-items: center;
  height: 8em;
  margin: auto;
}

.whole-title {
  color: #F74D9B;;
  margin-top: -30px;
  width: 100%;
}

.title {
  display: inline;
  font-size: 4.8em;
  font-weight: 800;
}

.title2 {
  display: inline;
  font-size: 4.8em;
  width: 50%;
}

.subtitle {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.subtitle span {
  display: inline-block;
  padding: 10px;
  position: relative;
}

.subtitle:before,
.subtitle:after {
  border-top: 2px solid;
    content: '';
    flex: 1 0 20px;
    margin: 0 10px 0 0;
}

.subtitle:after {
    margin: 0 0 0 10px;
}

main {
  display: flex;
}

.half {
  padding: 1%;
  width: 50%;
}

#left-half {
  background-color: #F7F7F7;
}

#right-half {
  background-color: #D1D0D0;
  border-left: 2px solid #A19E9E;
}

.left-tile {
  background-color: white;
  border: 2px solid #E6E6E6;
  margin: 1.5%;
  padding: 2%;
}

#min-range-choice,
#max-range-choice {
  color: #404041;
  font-weight: bold;
  text-decoration: underline;
}

input {
  border: 1px solid #E6E6E6;
  color: #6E6E6E;
  font: "Open Sanes", sans-serif;
  font-size: 18px;
  height: 40px;
  padding-left: 5px;
  width: 120%;
}

#set-range {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 5px 13.8px;
  position: relative;
}

.range-element {
  margin-bottom: -7px;
}

#range-title {
  font-size: 19px;
  margin: 0;
  position: absolute;
  top: 9px;
}

#min-range,
#max-range {
  width: 95%;
}

.range-error {
  visibility: hidden;
  font-size: 14px;
}

#update-button {
  background-color: #6E6E6E;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
  height: 44px;
  margin-bottom: 26px;
  width: 86%;
}

.range-element {
  align-items: flex-end;
  display: flex;
  height: 5.5em;
  justify-content: center;
  margin-top: auto;
  padding: .5%;
  width: 31%;
}

#player-input {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

#name-input {
  width: 50%;
}

#guess-input {
  margin-right: 8%;
  width: 25%;
}

.c1-guest-error {
  margin-top: 2px;
}

#number-guess-box1 {
  margin-bottom: 7px;
}

#number-guess-box2 {

}

.error {
  height: 13px;
  width: 15px;
}

.error-text {
  color: #DD1972;
  font-size: .72em;
}

.c1-error,
.c2-error,
.g1-error,
.g2-error {
  visibility: hidden;
}

#clear-game,
#reset-game,
#submit-guess {
  background-color: #6E6E6E;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
  height: 44px;
  margin-left: 10px;
  margin-top: 30px;
  width: 30%;
}

#clear-game:disabled,
#reset-game:disabled,
#submit-guess:disabled {
  background-color: #D0D2D3;
}

#update-button:hover:enabled,
#clear-game:hover:enabled,
#reset-game:hover:enabled,
#submit-guess:hover:enabled {
  background-color: #DD1972;
}

#game-results {
  background-color: white;
  border: 2px solid #A19E9E;
  margin: 1.5% 4%;
  padding: 2%;
}

#clear-card {
  background-color: #6E6E6E;
  border-radius: 50%;
  color: #D0D2D3;
}

#guesses {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1%;
  position: relative;
}

.latest-score {
  left:15px;
  margin:0;
  position: absolute;
  top: 6px;
}

.challenger-guess {
  color: #6E6E6E;
  font-weight: bold;
}

.hint {
  font-size: 25px;
  font-weight: 100;
}

.guess-result {
  color: #DD1972;
  font-size: 4.9em;
  font-weight: 800;
}

#challenger1-guess,
#challenger2-guess {
  justify-content: space-around;
  padding-top: 6%;
  text-align: center;
  width: 50%;
}

#challenger1-guess {
  border-right: 1px solid grey;
}

.current-guess {
  font-size: 24px;
  font-weight: lighter;
}

#game-results {
  /* display: none; */
  position: relative;
}

.final-tile {
  font-size: 15px;
  text-align: center;
}

.challenger1,
.challenger2 {
  font-size: 17px;
  font-weight: bold;
}

.hint-box-name {
  font-size: 21px;
}

#vs {
  font-size: 13px;
  margin-right: 10px;
}

.challenger1 {
  margin-right: 10px;
}


#winner {
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  font-weight: lighter;
  margin-bottom:20px;
  margin-top: 10px;
  text-align: center;
}

#guess-count,
#game-time {
  font-weight: bold;
}

.guess-stat {
  bottom: 4px;
  left: 15px;
  position: absolute;
}

.time-count {
  bottom: 5px;
  left: 40%;
  position: absolute;
}

#clear-card {
  bottom: 6px;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 12px;
}

#announcement {
  color: #6E6E6E;
  font-size: 30px;
  font-weight: bolder;
}

.winner-banner {
  color: #6E6E6E;
  font-size: 30px;
  font-weight: 100;
}

.bottom-row {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 100;
}
@media screen and (max-width: 1024px) {
  body {
    zoom: 75%;
  }
}

@media screen and (max-width: 768px) {

body {
  zoom: 75%;
}

main {
  display: inline;
}

.half {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
 body {
   zoom: 50%;
 }

 main {
   display: inline;
 }

 .half {
   width: 100%;
 }
 #set-range {
   display: block;
 }

 .range-element {
   width: 100%;
 }

 #player-input {
   display: block;
 }

 #name-input,
 #guess-input {
   width: 82%;
 }

 #guesses {
   display: block;
 }

 #challenger1-guess {
   border-bottom: 1px solid grey;
   border-right: none;
 }

 #challenger1-guess,
 #challenger2-guess {
   width: 100%;
 }

}
